
body {
    font-size:100%;
    color:white;
    background:black;
    margin-top:1em;
	margin-left:1em;
}

header {
    text-align:center;
    margin-bottom:3em;
    display:block;
    width:inherit;
}

#main {
    font-size:1.2em;
}

.rad {
    margin-right:1em;
    width:2em;
    height:2em;
}

.scanbox {
    background-color:#101010;
    margin-right:3em;
	width: 12em;
	height:1em;
	padding: 1em;
	margin-right:1em;
    border-radius: 0.5em;
    border: solid 0.1em #EE0000;
	font-size: 1.2em;
    text-align:center;
}

.scanbox:focus {
    background-color:#101010;
    border: solid 0.1em #007000;
    color:#007000;
}

.scanbox::-webkit-input-placeholder { /* WebKit browsers */
    color:#EE0000;
}
.scanbox:focus::-webkit-input-placeholder { /* WebKit browsers */
    color:#009900;
}
.button {
	color: white;
	width: 12em;
	padding: 5px;
	margin-right:20px;
	margin-bottom:20px;
    background: #121212;
    border-radius: 0.5em;
    border: solid 0.06em white;
	font-size: 1em;
	font-style: normal;
	font-variant: small-caps;
	font-weight: 700;
}

#trans-mode {
    display:block;
    float:left;
    margin-right:1em;
}


#outputBox
{
    cursor:pointer;
    width:auto;
    font-size: 1em;
    font-family: courier new;
    border-collapse: collapse;
    margin-bottom:2em;
}
#outputBox th {
    background-color:black;
    padding:0.4em;
    color:white;
    border:0.1em solid white;
}

#outputBox td, tr {
    background-color:#101010;
    color:#00C000;
    padding:0.1em 0.6em;
    border:0.1em solid white;
}

#outputBox tr:hover td { background-color:black; } /* hovering */

#edit-mode {
    display:none;
    float:left;
    margin-top:1em;
    margin-right:1em;
}

#titles {
    font-size:1.1em;
    width:auto;
    float:left;
}
#boxes{
    float:left;
}

#aboutBox {
    margin-bottom:1em;
}

#submitChanges {
    float:right;
    display:none;
}

#deleteProduct {
    float:right;
    display:none;
}

#submitNew {
    float:right;
    display:none;
}

input {
    background:#101010;
    color:#00FF00;
    width:11.6em;
    font-size: 1em;
    padding: 0.1em 0.1em;
    border-radius: 0.5em;
    border: solid 0.1em white;
}

textarea {
    background:#101010;
    color:#00FF00;
    width:13.6em;
    font-size: 1em;
    padding: 0.1em 0.1em;
    border-radius: 0.5em;
    border: solid 0.1em white;
}
