
body {
    font-size:24px;
    color:orange;
    background:black;
    margin-top:3%;	
	margin-left:3%;
}

.rad {
    margin-right:150px;
    width:30px;
    height:30px;
}

.scanbox {
    background-color:#DD0000;
    margin-right:200px;
	width: 270px;
	height:100px;
	padding: 5px;
	margin-right:20px;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px purple;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 600;7
    
}

.scanbox:focus {
    background-color:#007000;

}

.scanbox::-webkit-input-placeholder { /* WebKit browsers */
    color:black;
}

.scanbox::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:black;
   opacity:  1;
}

.scanbox:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:black;
}

.button {
	color: purple;
	width: auto;
	padding: 5px;
	margin-right:20px;
	margin-bottom:20px;
    background: #121212;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px purple;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	font-size: 20px;
	font-style: normal;
	font-variant: small-caps;
	font-weight: 700;
}

#trans-mode {
    display:block;
    float:left;
    margin-right:2%;
}

#edit-mode {
    display:none;
    float:left;
    margin-top:2%;
    margin-right:2%;
}

#titles {
    width:auto;
    float:left;
    
}
#boxes{
    float:left;
    width:auto;
}

#aboutBox {
    margin-bottom:15%;
}

#submitChanges {
    float:right;
    display:'none';
}

#deleteProduct {
    float:right;
    display:'none';
}

#submitNew {
    float:right;
    display:'none';
}

input, textarea {
    background:#303030;
    color:#00FF00;
    font-size: 16px;
    padding: 5px 5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px purple;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
}
